body {
  font-family: Roboto, sans-serif;
  text-align: center;
}

table {
  empty-cells: show;
  margin: 0 auto 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1),
							0px 10px 20px rgba(0, 0, 0, 0.05),
							0px 20px 20px rgba(0, 0, 0, 0.05),
							0px 30px 20px rgba(0, 0, 0, 0.05);
}
table tr:hover {
  background: #f4f4f4;
}
table tr:hover td {
  color: #555;
}
table tr td:first-child {
  font-weight: bold;
}
table th, table td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
}
table th {
  background: rgb(32, 162, 199);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
table th.last {
  border-right: none;
}

.subtable {
	vertical-align: top;
}
.subtable:hover {
  background: initial;
}
.subtable > td {
	padding: 0;
}
.subtable > td > table {
	margin: 0;
}
.subtable > td > table th{
  color: #000;
  background: initial;
}

.sort-asc:after{
  content: '\25B2';
  position: relative;
	left: 8px;
	bottom: 2px;
}
.sort-desc:after{
  content: '\25BC';
  position: relative;
	left: 8px;
	bottom: 2px;
}

.spinner {
  margin: 40px auto;
  width: 80px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgb(32, 162, 199);
  height: 100%;
  width: 8px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

form {
	width: 800px;
	margin:auto;
	text-align: initial;
}
input[type="text"],
input[type="number"] {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="checkbox"] {
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
	margin: 0.6em 0.2em 0.7em 0.5em;
}
select {
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: #fff;
}
input {
    vertical-align: middle;
		margin: 0.1em;
}

label:not(.check-label) {
	width: 150px;
	text-align: right;
	vertical-align: middle;
	float:left;
	line-height: 1.9em;
}

#right-container {
	float: right;
}
#container { 
	margin: 25px 0;
}
