<!DOCTYPE html>
<html>

<head>
  <title>NYC Restaurant Inspections</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link href="/css/main.css" rel="stylesheet">
</head>

<body> 
  <h1>NYC Restaurant Inspections</h1>
  <form id="search-form">
    <fieldset>
      <legend>Filters</legend>
      <div>
        <label for="name">Name:</label>
        <input type="text" name="name" value="" />
      </div>
      <div>
        <label for="cuisine">Cuisine:</label>
        <input type="text" name="cuisine" value="thai" />
      </div>
      <div>
        <label for="boro">Boro:</label>
        <label class="check-label">
          <input type="checkbox" name="boro" value="MANHATTAN" checked />Manhattan
        </label>
        <label class="check-label">
          <input type="checkbox" name="boro" value="BROOKLYN" checked />Brooklyn
        </label>
        <label class="check-label">
          <input type="checkbox" name="boro" value="QUEENS" checked />Queens
        </label>
        <label class="check-label">
          <input type="checkbox" name="boro" value="BRONX" checked />Bronx
        </label>
        <label class="check-label">
          <input type="checkbox" name="boro" value="STATEN ISLAND" checked />Staten Island
        </label>
      </div>
      <div>
        <label for="grade">Grade Range:</label>
        <select type="text" name="grade">
          <option value="A">A</option> 
          <option value="B" selected>B</option> 
          <option value="C">C</option> 
          <option value="Not Yet Graded">N</option> 
          <option value="P">P</option> 
          <option value="Z">Z</option> 
        </select>
        to
        <select type="text" name="max_grade">
          <option value="A" selected>A</option> 
          <option value="B">B</option> 
          <option value="C">C</option> 
          <option value="Not Yet Graded">N</option> 
          <option value="P">P</option> 
          <option value="Z">Z</option> 
        </select>
      </div>
      <div>
        <label for="limit">Limit:</label>
        <input type="number" name="limit" value="10" min="1" max="500" />
      </div>
      <input type="hidden" name="sort_order" id="sort_order" value="grade">
      <input type="hidden" name="reverse" id="reverse" value="false">
    </fieldset>
  </form>

  <div id="container">
    <table id="restaurant-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Cuisine</th>
          <th>Boro</th>
          <th class="sort-asc">Grade</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class="spinner" id="loader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    
  </div>

	<script src="/js/main.js"></script>
</body>

</html>

